In [1]:
import numpy as np
import pandas as pd
import datetime

### CPI Excel File

In [2]:
cpi_monthly = pd.read_excel("CPI Data.xlsx",sheet_name = 'monthly')

In [3]:
cpi_annual = pd.read_excel("CPI Data.xlsx",sheet_name = 'annual')

### Exchange Rate Excel File

In [4]:
exchange_rate_monthly = pd.read_excel("Exchange rate.xlsx",sheet_name = 'monthly')

In [5]:
exchange_rate_annual = pd.read_excel("Exchange rate.xlsx",sheet_name = 'annual')

### Exports MerchandiseExcel File

In [6]:
exports_monthly = pd.read_excel("Exports Merchandise.xlsx",sheet_name = 'monthly')

In [7]:
exports_annual = pd.read_excel("Exports Merchandise.xlsx",sheet_name = 'annual')

In [8]:
exports_quarterly = pd.read_excel("Exports Merchandise.xlsx",sheet_name = 'quarterly')

### Fill the null values with zeros

In [9]:
cpi_monthly = cpi_monthly.replace(np.nan, 0)

In [10]:
cpi_annual = cpi_annual.replace(np.nan, 0)

In [11]:
exchange_rate_monthly = exchange_rate_monthly.replace(np.nan, 0)

In [12]:
exchange_rate_annual = exchange_rate_annual.replace(np.nan, 0)

In [13]:
exports_monthly = exports_monthly.replace(np.nan, 0)

In [14]:
exports_annual = exports_annual.replace(np.nan, 0)

In [15]:
exports_quarterly = exports_quarterly.replace(np.nan, 0)

### Cross checking the null values for all columns

In [16]:
cpi_monthly.isnull().values.any()

False

In [17]:
cpi_annual.isnull().values.any()

False

In [18]:
exchange_rate_monthly.isnull().values.any()

False

In [19]:
exchange_rate_annual.isnull().values.any()

False

In [20]:
exports_monthly.isnull().values.any()

False

In [21]:
exports_annual.isnull().values.any()

False

In [22]:
exports_quarterly.isnull().values.any()

False

### Converting unnamed column or other name to "Year" for all 3 dataset

In [23]:
cpi_monthly.rename(columns={'Unnamed: 0':'year'},inplace=True)

In [24]:
cpi_annual.rename(columns={'Unnamed: 0':'year'},inplace=True)

In [25]:
exchange_rate_monthly.rename(columns={'Period':'year'}, inplace = True)

In [26]:
exchange_rate_annual.rename(columns={'Period':'year'}, inplace = True)

In [27]:
exports_monthly.rename(columns={'Unnamed: 0':'year'},inplace=True)

In [28]:
exports_annual.rename(columns={'Unnamed: 0':'year'},inplace=True)

In [29]:
exports_quarterly.rename(columns={'Unnamed: 0':'year'},inplace=True)

### Changing the date format of all monthly sheets

In [30]:
years=[]
for i in range(len(cpi_monthly)):
    years.append(cpi_monthly['year'][i][0:4])

months=[]

for i in range(len(cpi_monthly)):
    months.append(cpi_monthly['year'][i][5:7])

year_month = []

for i in range(len(years)):
    year_month.append(years[i] + '-' + months[i])
    
year_month_date = []

for i in range(len(year_month)):
    year_month_date.append(datetime.datetime.strptime(year_month[i], '%Y-%m').date())

cpi_monthly['year'] = year_month_date
##print(year_month_date)

In [37]:
cpi_monthly.head()

,year,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia
0,1988-12-01,0.0,0.0,0.0,0.0,33.23211,0.0,63.07520,0.0,0.0,...,0.720415,55.61017,0.0,0.199333,0.0,48.23800,0.0,0.0,19.62482,0.095229
1,1989-01-01,0.0,0.0,0.0,0.0,34.38592,0.0,63.63636,0.0,0.0,...,0.752198,55.88706,0.0,0.201556,0.0,48.59190,0.0,0.0,19.91342,0.095229
2,1989-02-01,0.0,0.0,0.0,0.0,34.60887,0.0,63.74860,0.0,0.0,...,0.794576,56.11781,0.0,0.207910,0.0,48.75023,0.0,0.0,20.20202,0.095229
3,1989-03-01,0.0,0.0,0.0,0.0,35.11426,0.0,63.86083,0.0,0.0,...,0.858142,56.44086,0.0,0.252126,0.0,49.03835,0.0,0.0,20.49062,0.095229
4,1989-04-01,0.0,0.0,0.0,0.0,35.52607,0.0,64.08530,0.0,0.0,...,0.900519,56.81005,0.0,0.286180,0.0,49.49379,0.0,0.0,20.77922,0.095229

In [32]:
cpi_monthly.dtypes

year                     object
Afghanistan             float64
Albania                 float64
United Arab Emirates    float64
Armenia                 float64
                         ...
World (WBG members)     float64
Samoa                   float64
Yemen, Rep.             float64
South Africa            float64
Zambia                  float64
Length: 173, dtype: object

In [34]:
years=[]
for i in range(len(exports_monthly)):
    years.append(exports_monthly['year'][i][0:4])

months=[]

for i in range(len(exports_monthly)):
    months.append(exports_monthly['year'][i][5:7])

year_month = []

for i in range(len(years)):
    year_month.append(years[i] + '-' + months[i])
    
year_month_date = []

for i in range(len(year_month)):
    year_month_date.append(datetime.datetime.strptime(year_month[i], '%Y-%m').date())

exports_monthly['year'] = year_month_date

In [36]:
exports_monthly.head()

,year,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
0,1991-01-01,1265.303,3313.754,5502.346,0.0,4896.404,0.0,0.0,0.0,0.0,...,4014.566,0.0,0.0,5493.817,3313.754,2.651407,5268.258,0.0,41353.47,168083.9
1,1991-02-01,1518.856,0.000,5708.852,0.0,3887.668,0.0,0.0,0.0,0.0,...,3175.083,0.0,0.0,5402.757,3152.839,2.588754,4161.086,0.0,40909.06,0.0
2,1991-03-01,1632.372,0.000,6890.402,0.0,4384.693,0.0,0.0,0.0,0.0,...,4062.258,0.0,0.0,5898.220,4010.966,3.935234,4857.343,0.0,46101.14,0.0
3,1991-04-01,1884.038,0.000,6524.655,0.0,5119.613,0.0,0.0,0.0,0.0,...,3896.417,0.0,0.0,6062.707,3425.034,3.178725,4778.434,0.0,45152.55,0.0
4,1991-05-01,2302.835,0.000,7145.694,0.0,4917.469,0.0,0.0,0.0,0.0,...,3908.034,0.0,0.0,5544.209,3584.901,3.911652,5758.457,0.0,45104.24,0.0

In [38]:
years=[]
for i in range(len(exchange_rate_monthly)):
    years.append(exchange_rate_monthly['year'][i][0:4])

months=[]

for i in range(len(exchange_rate_monthly)):
    months.append(exchange_rate_monthly['year'][i][5:7])

year_month = []

for i in range(len(years)):
    year_month.append(years[i] + '-' + months[i])
    
year_month_date = []

for i in range(len(year_month)):
    year_month_date.append(datetime.datetime.strptime(year_month[i], '%Y-%m').date())

exchange_rate_monthly['year'] = year_month_date

In [40]:
exchange_rate_monthly.head()

,year,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1988-12-01,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0
1,1989-01-01,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0
2,1989-02-01,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0
3,1989-03-01,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0
4,1989-04-01,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0

In [49]:
exports_quarterly.year

0           0
1      1991Q1
2      1991Q2
3      1991Q3
4      1991Q4
        ...
107    2017Q3
108    2017Q4
109    2018Q1
110    2018Q2
111    2018Q3
Name: year, Length: 112, dtype: object

### Saving all the updated sheets

In [79]:
cpi_annual.to_excel('cpi_data.xlsx', sheet_name = 'annual')

In [80]:
exchange_rate_annual.to_excel('exchange_rate_monthly1.xlsx', sheet_name = 'annual')

In [82]:
cpi_monthly.to_excel('cpi_data1.xlsx', sheet_name = 'monthly')

In [84]:
exchange_rate_monthly.to_excel('exchange_rate_monthly2.xlsx', sheet_name = 'monthly')

In [85]:
exports_monthly.to_excel('exports_monthly1.xlsx', sheet_name = 'monthly')

In [86]:
exports_annual.to_excel('exports_annual.xlsx', sheet_name = 'annual')

In [88]:
exports_quarterly.to_excel('exports_quarterly.xlsx', sheet_name = 'quarterly')